* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}
/* #ece284; */
.page {
  --light: #ece284;
  --middle: #ffa500;
  --dark: #8b6f20;
  font-family: Arial, Helvetica, sans-serif;
}


/***********************
CONTAINER
***********************/
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 51rem;
  min-width: 20rem;
}


/***********************
HEADER
***********************/
.header {
  height: 3rem;
  background-color: var(--dark);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*** Header - Logo ***/
.logo-left {
  margin: 0.25rem 0;
  width: 16rem;
  height: 2.5rem;
  background-image: url("../assets/svg/200tbgamestudio.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-right {
  margin: 0.25rem 0;
  width: 16rem;
  height: 2.5rem;
  text-align: right;
  background-image: url("../assets/svg/css_meme_slider.svg");
  background-size: contain;
  background-repeat: no-repeat;
}


/***********************
MAIN
***********************/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 6rem);
  background-color: var(--light);
}

.meme__slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  max-width: 34rem;
}

.meme__input {
  display: none;
}


/***********************
IMGS
***********************/
.meme__imgs {
  overflow: hidden;
}

.meme__imgs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  width: 100%;
  transition: all 0.5s ease-in;
}

.meme__img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 640px) {
  .meme__img {
    width: 100%;
  }
}

#img1:checked ~ .meme__imgs .meme__imgs-wrapper {
  margin-left: 0;
}
#img2:checked ~ .meme__imgs .meme__imgs-wrapper {
  margin-left: -110%;
}

#img3:checked ~ .meme__imgs .meme__imgs-wrapper {
  margin-left: -220%;
}

#img4:checked ~ .meme__imgs .meme__imgs-wrapper {
  margin-left: -330%;
}

#img5:checked ~ .meme__imgs .meme__imgs-wrapper {
  margin-left: -440%;
}
/***********************
/IMGS
***********************/

.meme__control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .meme__control {
    flex-direction: column-reverse;
  }
}

/***********************
TEXT
***********************/
.meme__texts {
  overflow: hidden;
}

.meme__texts-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500%;
  line-height: 150%;
  transition: all 0.5s ease-in;
}

.meme__text {
  display: flex;
  align-items: center;
  width: 100%;
}

@media (max-width: 640px) {
  .meme__text {
    justify-content: center;
    align-items: flex-start;
    font-size: 0.8rem;
  }
}

#img1:checked ~ .meme__control .meme__texts-wrapper {
  margin-left: 0;
}

#img2:checked ~ .meme__control .meme__texts-wrapper {
  margin-left: -100%;
}

#img3:checked ~ .meme__control .meme__texts-wrapper {
  margin-left: -200%;
}

#img4:checked ~ .meme__control .meme__texts-wrapper {
  margin-left: -300%;
}

#img5:checked ~ .meme__control .meme__texts-wrapper {
  margin-left: -400%;
}
/***********************
/TEXT
***********************/


/***********************
BTNS
***********************/
.meme__btns-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meme__btn {
  cursor: pointer;
  padding: 0.5rem;
}

.meme__circle {
  cursor: pointer;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  border: 0.02rem solid var(--dark);
  transition:  all 0.3s ease-in;
}

@media (max-width: 640px) {
  .meme__circle {
    width: 1rem;
    height: 1rem;
  }
}

.meme__circle:hover {
  background-color:  var(--middle);
  border: 0.02rem solid var(--middle);
}

.meme__circle:active {
  background-color: var(--dark);
  border: 0.02rem solid var(--dark);
}

#img1:checked ~ .meme__control .circle1 {
  background-color: var(--dark);
  border: 0.02rem solid var(--dark);
}

#img2:checked ~ .meme__control .circle2 {
  background-color: var(--dark);
  border: 0.02rem solid #8176AF;
}

#img3:checked ~ .meme__control .circle3 {
  background-color: var(--dark);
  border: 0.02rem solid #8176AF;
}

#img4:checked ~ .meme__control .circle4 {
  background-color: var(--dark);
  border: 0.02rem solid #8176AF;
}

#img5:checked ~ .meme__control .circle5 {
  background-color: var(--dark);
  border: 0.02rem solid #8176AF;
}
/***********************
/BTNS
***********************/


/***********************
FOOTER
***********************/
.footer {
  height: 3rem;
  background-color: var(--dark);
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*** Footer - Logo ***/
.footer-github {
  display: block;
  width: 20rem;
  height: 2.5rem;
  background-image: url("../assets/svg/2023frontend200tb.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-github:hover {
  color: var(--gold);
}

.footer-logo {
  display: block;
  margin: 0.4rem 0;
  width: 6.75rem;
  height: 2.5rem;
  background-image: url("../assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-logo:hover {
  filter: invert(22%) sepia(61%) saturate(4249%) hue-rotate(359deg) brightness(103%) contrast(104%);
}
/***********************
/FOOTER
***********************/


/***********************
ценные замечания
Логотип выполнен на сайте Cool Text Generator
Алгоритм работы
1. Открыть сайт https://maketext.io/
2. В поле First, type some texts to start with
ввести текст css meme slider
и нажать кнопку Make Text Cooler
3. В секции Then, pick an effect you'd like to use
выбрать эффект для текста
4. Для длинного текста © 2023 frontend200tb
выбрать Font Size 50 чтобы он не превышал ширины экспортируемой области
5. Экспортировать в svg
***********************/